@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*,
body,
html {
    margin: 0;
    padding: 0;
}

/* Убираем внутренние отступы */
ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
    text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

button, textarea, input, select {
    background-color: transparent;
    outline: none;
    border: none;
    overflow: auto;
    box-shadow: none;
    resize: none;
}

/* Default styles */
/* Default styles */
html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color: #1f1f1f;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 1185px;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Blocks */
.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.btn {
    display: inline-flex;
    height: 56px;
    align-items: center;
    font-size: 1.8rem;
    letter-spacing: 0.025em;
    color: #fff;
    border-radius: 28px;
    padding: 0 3em;
    cursor: pointer;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #4c94f3;
    transition: all 0.5s linear;
    position: relative;
}

.btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4c94f3;
    transform: scale(0);
    transition: all .3s linear;
}

.btn:hover::before {
    transform: scale(1);
    top: 0;
    height: 100%;
}

@media screen and (max-width: 567px) {
    .btn {
        font-size: 1.4rem;
        height: 40px;
    }
}

.blue {
    color: #4c94f3;
}

.black {
    display: block;
    margin-bottom: 1rem;
}

.title {
    font-size: 4.8rem;
    color: #1f1f1f;
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 81px;
    height: 1px;
    background-color: #000000;
}

.header {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.header__inner {
    display: flex;
    height: 7rem;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: height .3s linear;
}

.header__inner.scroll {
    height: 5.9rem;
}

.header__logo {
    position: relative;
    z-index: 15;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__number {
    position: relative;
    z-index: 15;
    font-size: 1.6rem;
}

@media screen and (max-width: 1100px) {
    .header__number {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 826px) {
    .header__number {
        font-size: 1.8rem;
    }
}

.section-contact__icon-call {
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    fill: #0a499c;
    transition: background-color .3s linear;
}

.section-contact__icon-call:hover {
    background-color: #1f1f1f;
}

.nav {
    position: relative;
    margin-right: 1rem;
}

.menu__body {
    display: flex;
}

@media screen and (max-width: 826px) {
    .menu__body {
        display: block;
        padding: 25rem 0;
        text-align: center;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: black;
        transition: left 0.3s linear;
    }

    .menu__body.active {
        left: 0;
    }
}

.menu__body li {
    z-index: 15;
    position: relative;
    transition: transform 0.3s linear, background-color 0.3s linear;
}

.menu__body li:last-child {
    margin: 0;
}

@media screen and (max-width: 826px) {
    .menu__body li {
        margin: 0 0 40px 0;
    }
}

.menu__link {
    font-size: 1.4rem;
    color: #1f1f1f;
    text-transform: uppercase;
    padding: 0.7em 1.4em;
    cursor: pointer;
    border-radius: 5rem;
    border: 2px solid transparent;
    transition: border 0.2s linear;
}

.menu__link.active {
    border: 2px solid #1f1f1f;
}

.menu__link:hover {
    border: 2px solid #1f1f1f;
}

@media screen and (max-width: 1100px) {
    .menu__link {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 826px) {
    .menu__link {
        font-size: 3.2rem;
        padding: .5em;
        border-radius: 25px;
    }
}

.menu__icon {
    display: none;
}

@media screen and (max-width: 826px) {
    .menu__icon {
        display: block;
        z-index: 15;
        position: relative;
        top: 0;
        right: 0%;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span, .menu__icon::after, .menu__icon::before {
        position: absolute;
        right: 0;
        height: 10%;
        width: 100%;
        background-color: #fff;
        transition: all 0.3s linear;
    }

    .menu__icon::after, .menu__icon::before {
        content: "";
    }

    .menu__icon::after {
        top: 0;
    }

    .menu__icon::before {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: translateY(-50%);
    }

    .menu__icon.active span {
        display: none;
    }

    .menu__icon.active::before {
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
    }

    .menu__icon.active::after {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
    }
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.section-top {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.section-top__bg {
    background-attachment: fixed;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.section-top__content {
    max-width: 800px;
    position: relative;
    z-index: 1;
}

.section-top__suptitle {
    font-size: 2.4rem;
    color: #fcff00;
}

@media screen and (max-width: 1100px) {
    .section-top__suptitle {
        font-size: 2.1rem;
    }
}

@media screen and (max-width: 567px) {
    .section-top__suptitle {
        font-size: 1.8rem;
    }
}

.section-top__title {
    font-size: 5.5rem;
    color: #fff;
    margin-bottom: 3.3rem;
}

@media screen and (max-width: 1100px) {
    .section-top__title {
        font-size: 4.8rem;
        margin-bottom: 2.4rem;
    }
}

@media screen and (max-width: 567px) {
    .section-top__title {
        font-size: 3.3rem;
        margin-bottom: 2.4rem;
    }
}

.section-catalog {
    padding: 6rem 0 0;
}

@media screen and (max-width: 826px) {
    .section-catalog {
        padding: 6rem 0 4.6rem;
    }
}

.menu-catalog {
    text-align: center;
}

.menu-catalog__title {
    margin-bottom: 4rem;
}

.menu-catalog__nav {
    margin: 0 0 10rem;
}

.menu-catalog__row {
    display: inline-flex;
    overflow: hidden;
}

@media screen and (max-width: 826px) {
    .menu-catalog__row {
        display: block;
    }
}

.menu-catalog__item {
    font-size: 1.8rem;
    color: #a5a5a5;
    cursor: pointer;
    padding: 1em 3.27em;
    transition: background-color 0.3s linear, color 0.3s linear;
    border-right: 1px solid rgba(31, 31, 31, 0.1);
}

.menu-catalog__item:last-child {
    border-right: none;
}

.menu-catalog__item.active {
    color: #ada074;
}

.menu-catalog__item:hover {
    color: #ada074;
}

.pizza__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.25rem;
}

.pizza__row:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
    .pizza__row {
        justify-content: center;
    }
}

.pizza__column {
    display: flex;
    flex: 0 1 33.333%;
    margin: 0 0 10rem 0;
    padding: 0 2.25rem;
}

.pizza__column.hide {
    display: none;
}

@media screen and (max-width: 1080px) {
    .pizza__column:nth-last-child(-n + 3) {
        margin: 0 0 10rem 0;
    }

    .pizza__column:last-child {
        margin: 0;
    }
}

@media screen and (max-width: 644px) {
    .pizza__column {
        flex: 0 1 100%;
        justify-content: center;
        border-right: none;
    }
}

.pizza__item {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    width: 314px;
    height: 420px;
    border: 1px solid #dedede;
    padding: 0 1rem 1rem;
    transition: all 0.3s linear;
}

.pizza__item::before {
    content: "";
    position: absolute;
    top: -70%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2196f3;
    transform: skewY(345deg);
}

@media screen and (max-width: 826px) {
    .pizza__item {
        text-align: center;
    }
}

@media screen and (min-width: 1025px) {
    .pizza__item::before {
        content: "";
        position: absolute;
        top: -70%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2196f3;
        transform: skewY(345deg);
        transition: transform 0.3s linear;
    }

    .pizza__item::after {
        content: "Shoes";
        position: absolute;
        bottom: 0;
        left: 0;
        font-weight: 300;
        font-family: Roboto;
        font-size: 8em;
        color: rgba(31, 31, 31, 0.1);
    }

    .pizza__item:hover::before {
        transform: skewY(390deg);
    }

    .pizza__item:hover .pizza__img-item {
        max-width: 60%;
    }

    .pizza__item:hover .pizza__order {
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

.pizza__item:hover {
    box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.4);
}

.pizza__img {
    position: relative;
    width: 100%;
    height: 260px;
    z-index: 2;
    margin-bottom: 1rem;
}

.pizza__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.3s linear;
    margin: 0 auto;
}

.pizza__bot {
    transition: background-color 0.3s linear;
    position: relative;
    z-index: 2;
}

.pizza__title {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

.pizza__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 1025px) {
    .pizza__order {
        position: relative;
        top: 200px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s linear;
    }
}

@media screen and (max-width: 826px) {
    .pizza__order {
        justify-content: center;
    }
}

.pizza__btn {
    color: #1f1f1f;
}

@media screen and (max-width: 826px) {
    .pizza__btn {
        margin-left: 2rem;
    }
}

.section-about__inner {
    display: flex;
    flex-wrap: wrap;
}

.section-about__content {
    flex: 0 1 50%;
    color: #1f1f1f;
    padding: 0 8.9rem;
}

@media screen and (max-width: 826px) {
    .section-about__content {
        flex: 0 1 100%;
        padding: 8rem 6rem 10rem;
    }
}

@media screen and (max-width: 380px) {
    .section-about__content {
        padding: 4rem 3rem 5rem;
    }
}

.section-about__info {
    max-width: 650px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-about__img {
    flex: 0 1 50%;
    padding-bottom: 40%;
}

.section-about__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 826px) {
    .section-about__img {
        flex: 0 1 100%;
        padding-bottom: 53.8%;
        order: 2;
    }
}

.section-about__title {
    text-align: center;
    margin-bottom: 4rem;
}

@media screen and (max-width: 826px) {
    .section-about__title {
        margin-bottom: 2rem;
    }
}

.section-about__text {
    font-family: Roboto;
    font-size: 2.2rem;
    font-weight: 300;
    color: #1f1f1f;
    margin-bottom: 4rem;
}

.section-about__advantage {
    margin-bottom: 2rem;
    display: inline-flex;
    align-items: center;
}

.section-about__advantage:last-child {
    margin: 0;
}

.section-about__advantage span {
    font-family: Roboto;
    font-weight: 700;
    flex: 0 1 80%;
}

.section-about__icon {
    flex: 0 1 20%;
    width: 30%;
    height: 40px;
}

.section-contact {
    padding: 6.3rem 0;
    position: relative;
}

@media screen and (max-width: 826px) {
    .section-contact {
        padding: 8rem 0;
    }
}

.section-contact__inner {
    position: relative;
    z-index: 10;
}

.section-contact__title {
    text-align: center;
    margin-bottom: 4.4rem;
}

@media screen and (max-width: 826px) {
    .section-contact__title {
        margin-bottom: 6.4rem;
    }
}

.section-contact__desc {
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

.section-contact__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -1.5rem;
}

.section-contact__map {
    flex: 0 1 50%;
    width: 50%;
    padding: 0 1.5rem;
}

@media screen and (max-width: 1300px) {
    .section-contact__map {
        flex: 0 1 100%;
        padding: 0;
        margin-bottom: 2rem;
    }
}

.section-contact__map-item {
    min-height: 450px;
    background-color: sandybrown;
}

.section-contact__data {
    flex: 0 1 50%;
    padding: 0 1.5rem;
}

@media screen and (max-width: 1300px) {
    .section-contact__data {
        flex: 0 1 100%;
        text-align: center;
    }
}

.section-contact__address {
    margin-bottom: 2.5rem;
}

.section-contact__text {
    font-family: Roboto;
    font-size: 1.8rem;
    font-weight: 300;
}

.section-contact__number {
    margin-bottom: 2.5rem;
}

.section-contact__link {
    margin-right: 1rem;
}

.section-contact__icon {
    width: 25px;
    height: 25px;
    fill: #1f1f1f;
}

.section-contact__icon-vk {
    transition: fill 0.3s linear;
}

.section-contact__icon-vk:hover {
    fill: #3b5999;
}

.section-contact__icon-fb {
    transition: fill 0.3s linear;
}

.section-contact__icon-fb:hover {
    fill: #3b5999;
}

.section-contact__icon-inst {
    transition: fill 0.8s linear;
}

.section-contact__icon-inst:hover {
    fill: url(#SVGID_1_) #9C27B0;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    opacity: 1;
    transform: translate(0, 0) rotateX(0deg);
}

.popup__body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.popup__content {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    max-width: 729px;
    padding: 8rem 12rem;
    text-align: center;
    opacity: 0;
    transform: translate(0, -100%) rotateX(45deg);
    transition: all 0.8s linear;
}

@media screen and (max-width: 826px) {
    .popup__content {
        padding: 2rem 4rem;
    }
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    transition: transform 0.2s linear;
    cursor: pointer;
}

.popup__close:hover {
    transform: rotate(65deg);
}

.popup__close-icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: #4c94f3;
}

.popup__title {
    font-size: 4.8rem;
    margin-bottom: 2.9rem;
}

@media screen and (max-width: 826px) {
    .popup__title {
        font-size: 3rem;
        margin-bottom: 1.9rem;
    }
}

.popup__text {
    font-family: Roboto;
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 4.8rem;
}

@media screen and (max-width: 826px) {
    .popup__text {
        font-size: 1.4rem;
        margin-bottom: 2.9rem;
    }
}

.popup__img {
    width: 186px;
    height: 114px;
    margin: 0 auto;
}

.popup__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.popup__subtitle {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.popup__name {
    font-size: 2.2rem;
    margin-right: 1rem;
}

@media screen and (max-width: 826px) {
    .popup__name {
        font-size: 1.5rem;
    }
}

.popup__price {
    font-size: 2.2rem;
}

@media screen and (max-width: 826px) {
    .popup__price {
        font-size: 1.5rem;
    }
}

.popup__size {
    font-size: 1.6rem;
    color: #a2a2a2;
    margin-bottom: 3.5rem;
}

@media screen and (max-width: 826px) {
    .popup__size {
        font-size: 1.3rem;
        margin-bottom: 2.5rem;
    }
}

.popup__input {
    background-color: #f7f7f7;
    border-radius: 32px;
    height: 64px;
    max-width: 300px;
    font-size: 1.6rem;
    padding: 0 2.1875em;
    margin-bottom: 0.7rem;
}

.popup__input:focus {
    border: 1px solid #4c94f3;
}

.popup__input::-moz-placeholder {
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 300;
    color: #a2a2a2;
}

.popup__input:-ms-input-placeholder {
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 300;
    color: #a2a2a2;
}

.popup__input::placeholder {
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 300;
    color: #a2a2a2;
}

@media screen and (max-width: 826px) {
    .popup__input {
        height: 44px;
        font-size: 1.1rem;
    }
}

.popup__select {
    padding: 0 0 0 2.1875em;
    text-align: center;
    color: #a2a2a2;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 300;
    width: 300px;
}

@media screen and (max-width: 826px) {
    .popup__select {
        width: 211px;
        padding: 0 0 0 1.2em;
    }
}

.popup__btn {
    box-shadow: none;
}

.popup-thanks {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.popup-thanks.open {
    opacity: 1;
    visibility: visible;
}

.popup-thanks__body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.popup-thanks__content {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 8rem 12rem;
    text-align: center;
}

.popup-thanks__title {
    font-size: 4.8rem;
}

@media screen and (max-width: 826px) {
    .popup-thanks__title {
        font-size: 2.8rem;
    }
}

.popup-thanks__text {
    font-family: Roboto;
    font-size: 2.4rem;
    font-weight: 300;
}

@media screen and (max-width: 826px) {
    .popup-thanks__text {
        font-size: 1.8rem;
    }
}

.popup-callback {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.popup-callback.open {
    opacity: 1;
    visibility: visible;
}

.popup-callback__body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.popup-callback__content {
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 8rem 12rem;
    text-align: center;
}

.popup-callback__title {
    font-size: 4.8rem;
}

@media screen and (max-width: 826px) {
    .popup-callback__title {
        font-size: 2.8rem;
    }
}

.footer {
    margin-top: auto;
    height: 84px;
    background-color: #1f1f1f;
    background-image: linear-gradient(0deg, #2b2b2b 0%, #1f1f1f 100%);
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
}

.footer__text {
    opacity: 0.3;
    font-size: 1.8rem;
    color: #fff;
}

/* libs */
/* swiper.js https://swiperjs.com/get-started */
.section-review {
    background-color: #1f1f1f;
}

.section-review__inner {
    text-align: center;
    color: #fff;
    padding: 6rem 0;
    overflow: hidden;
}

.section-review__title {
    margin-bottom: 6rem;
    color: #fff;
}

.section-review__title::before {
    background-color: #fff;
}

.section-review__swiper {
    position: relative;
}

.swiper-slide__name {
    font-family: Roboto;
    font-size: 4rem;
    font-weight: 300;
    position: relative;
}

.swiper-slide__name::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 50%;
    left: 40%;
    transform: translateY(-50%);
    width: 40px;
    height: 1px;
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .swiper-slide__name::after {
        left: 35%;
    }
}

@media screen and (max-width: 706px) {
    .swiper-slide__name::after {
        left: 30%;
    }
}

@media screen and (max-width: 515px) {
    .swiper-slide__name::after {
        left: 25%;
    }
}

@media screen and (max-width: 420px) {
    .swiper-slide__name::after {
        left: 20%;
    }
}

@media screen and (max-width: 360px) {
    .swiper-slide__name::after {
        left: 15%;
    }
}

.swiper-slide__text {
    display: inline-block;
    font-family: Roboto;
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 4rem;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -35px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 3px solid #507192;
    width: 14px;
    height: 14px;
}

@media screen and (max-width: 767px) {
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
    }
}

.swiper-pagination-bullet-active {
    background-color: #507192;
}
